* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
    background-color: #424242 !important;
    color: white !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #fbf9f8 !important;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #424242 !important;
    color: white !important;
}

.login-cont {
    height: 19rem;
    min-width: 25rem;
    max-width: 25rem;
    /* max-width: 370px; */
    background: rgb(78,39,1);
    background: linear-gradient(0deg, rgba(78,39,1,1) 0%, rgba(255,108,2,1) 100%);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
.question, .register {
    margin-top: 30px;
}
.register-cont {
    height: 38.3rem;
    min-width: 25rem;
    max-width: 25rem;
    background: rgb(78,39,1);
    background: linear-gradient(0deg, rgba(78,39,1,1) 0%, rgba(255,108,2,1) 100%);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
.reg-submit {
    float: right;
}
.reg-question {
    margin-top: 30px;
}
.add-cont {
    height: 41.25rem;
    min-width: 75rem;
    max-width: 75rem;
    background: rgb(78,39,1);
    background: linear-gradient(0deg, rgba(78,39,1,1) 0%, rgba(255,108,2,1) 100%);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
.head-name {
    color: rgba(255,108,2,1);
}
.add-submit {
    float: right;
}
.nav-bar {
    background: rgba(255,108,2,1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
.product-card {
    background-color: #322D31 !important;
    color: white !important;
}
.btn-addToCart{
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400 !important;
  border: 1px solid transparent;
  border-radius: .70rem;
  border-color: #fa6400 !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-addToCart:hover,
.btn-addToCart:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-addToCart:hover {
  transform: translateY(-1px);
}

.btn-addToCart:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: rgba(255,108,2,1);
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.card-title { 
    color: rgba(255,108,2,1) !important;
}
.search-container {
    /* border: 2px solid red; */
    
}
